/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Open+Sans&family=Roboto&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Open+Sans&family=Roboto&family=Ubuntu&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Nunito:ital,wght@1,600&family=Open+Sans&family=Roboto&family=Ubuntu&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif, 'Nunito', sans-serif, 'Open Sans', sans-serif, 'Roboto', sans-serif, 'Ubuntu', sans-serif;
  /*font-family:'Ubuntu' ,'Montserrat', sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
